* text=auto eol=lf

*.py text diff=python
*.spec text linguist-language=Python

*.toml text
*.txt text

*.ico binary

# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
